

#mod-faction, #mod-resources {
	/*	padding-top: 0 !important;
		padding-bottom: 0 !important;*/
	overflow: hidden;
}

#mod-notif {
	padding: 0;

	.notification-group {

		.notification {
			border-left: none;
			border-right: none;

			&:first-child {
				border-top: none;
			}
		}
	}
}

#mod-chat {
	padding: 0;

	.tab-content {
		border-left: none;
		border-right: none;
		border-bottom: none;

		.list-group > .list-group-item {
			border-left: none;
			border-right: none;

			&:first-child {
				border-top: none;
				-webkit-box-shadow: none; 
				box-shadow: none; 
			}
		}
	}
}