
@import "../../scss/spacehero_variables";
@import "../../scss/superhero/superhero_variables";
@import "../../bootstrap/stylesheets/bootstrap/variables";
@import "../../bootstrap/stylesheets/bootstrap/mixins";
@import "../../scss/spacehero_sh_variables";
@import "../../scss/spacehero/mixins";

#mod-faction, #mod-resources {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	overflow: hidden;
	
	> .center-height-child {
		padding-left: 0;
		padding-right: 0;
	}

	@media (max-width: $screen-sm-max) {
		&.center-height-parent .center-height-child {
			top: 0;
			transform: none;
		}

		&#mod-resources {
			border-top: none;
		}
	}
}

#mod-hierarchy {

	.tree {
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		.tree {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

#mod-notif {
	padding: 0;

	.notification-group {

		.notification {
			border-left: none;
			border-right: none;

			&:first-child {
				border-top: none;
			}
		}
	}
}

#mod-chat {

	$chat-height-top: 21px;
	$chat-height-bottom: $input-height-small;

	padding: 0;

	.nav-tabs {

		> li {
			&, &.active, &:not(.active) {
				> a, > a:hover, > a:focus {
					border-top: none;
					border-left: none;
					height: $chat-height-top;
				}
			}
		}
	}

	.tab-content {
		height: calc(100% - #{$chat-height-top + $chat-height-bottom});
		overflow: auto;
		border-left: none;
		border-right: none;
		border-bottom: none;

		.list-group {
			margin-bottom: 0;

			> .list-group-item {
				border-left: none;
				border-right: none;

				&:first-child {
					border-top: none;
					-webkit-box-shadow: none; 
					box-shadow: none; 
				}
			}
		}
	}

	.input-group {
		height: $chat-height-bottom;

		input.form-control {
			border-bottom: none;
			border-left: none;
		}

		.btn {
			border-bottom: none;
			border-right: none;
			padding-top: 1px;
		}
	}
}

#mod-map {
	padding: 0;
	font-size: 0;
}

.increment {
	font-size: 0;

	> .increment-value {
		display: inline-block;
		padding-top: 0;
		padding-bottom: 0;
		font-size: 10px;
		line-height: 1.75;
		border-right: none;
		@include box-shadow(none);
	}
}

#mod-infos, #mod-actions {
	padding: 0;

	> .panel {
		height: 100%;
		background: none;
		border: none;
		margin: 0;

		&, > .panel-heading {
			@include box-shadow(none);
		}

		> .panel-footer {
			background-color: $body-bg;
		}
	}
}

#mod-infos {

	$pad-height: 30px;

	> .panel {

		> .panel-heading, > .panel-footer {
			height: $pad-height;
		}

		> .panel-body {
			height: calc(100% - #{2 * $pad-height});
			padding: 0;
			overflow-y: auto;

			$tabs-height: 21px;

			> .nav-tabs {
				> li > a {
					height: $tabs-height;
				}
				> li:first-child > a {
					border-left: none;
				}
			}

			> .tab-content {
				height: calc(100% - #{$tabs-height});
				overflow-y: auto;
				border-left: none;
				border-right: none;

				.infos-element {
					padding-left: extract-from-compact($table2d-cell-padding, left);
					padding-right: extract-from-compact($table2d-cell-padding, right);
				}

				.infos-actions .alert {
					display: inline-block;
				}
			}
		}

	}
}

#carte-table2d {
	.table2d-table {
		background: url('../img/carte/carte-bg.jpg');
		background-size: cover;

		td {
			background: none;
			border: 1px solid $table-bg;
		}
	}
}

#mod-actions {

	$head-height: 54px;
	$body-height: 55px;

	.panel-heading, .panel-body {
		div + div {
			margin-top: 5px;
		}
	}

	.panel-heading {
		height: $head-height;
	}

	.panel-body {
		height: $body-height;
		border-top: 1px solid $nav-tabs-border-color; 
	}

	.panel-footer {
		height: calc(100% - #{$head-height + $body-height});
		overflow-y: auto;
		border-top: 1px solid $nav-tabs-border-color;
	}

}