
@import "../../scss/spacehero_variables";
@import "../../scss/superhero/superhero_variables";
@import "../../bootstrap/stylesheets/bootstrap/variables";
@import "../../bootstrap/stylesheets/bootstrap/mixins";
@import "../../scss/spacehero_sh_variables";
@import "../../scss/spacehero/mixins";

#mod-faction, #mod-resources {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	overflow: hidden;

	@media (max-width: $screen-sm-max) {
		&.center-height-parent .center-height-child {
			top: 0;
			transform: none;
		}

		&#mod-resources {
			border-top: none;
		}
	}
}

#mod-hierarchy {

	.tree {
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		.tree {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

#mod-notif {
	padding: 0;

	.notification-group {

		.notification {
			border-left: none;
			border-right: none;

			&:first-child {
				border-top: none;
			}
		}
	}
}

#mod-chat {
	padding: 0;
	padding-top: 20px;
	padding-bottom: $input-height-small;
	overflow: hidden;

	.nav-tabs {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		> li {
			&, &.active, &:not(.active) {
				> a, > a:hover, > a:focus {
					border-top: none;
					border-left: none;
				}
			}
		}
	}

	.tab-content {
		max-height: 100%;
		overflow: auto;
		border-left: none;
		border-right: none;
		border-bottom: none;

		.list-group {
			margin-bottom: 0;

			> .list-group-item {
				border-left: none;
				border-right: none;

				&:first-child {
					border-top: none;
					-webkit-box-shadow: none; 
					box-shadow: none; 
				}
			}
		}
	}

	.input-group {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		input.form-control {
			border-bottom: none;
			border-left: none;
		}

		.btn {
			border-bottom: none;
			border-right: none;
			padding-top: 1px;
		}
	}
}

#mod-map {
	font-size: 0;
}

.increment {
	font-size: 0;

	> .increment-value {
		display: inline-block;
		padding-top: 0;
		padding-bottom: 0;
		font-size: 10px;
		line-height: 1.75;
		border-right: none;
		@include box-shadow(none);
	}
}

#mod-infos {
	padding: 0;

	> .panel {
		background: none;
		border: none;
		margin: 0;

		&, > .panel-heading {
			@include box-shadow(none);
		}

		> .panel-heading {

		}

		> .panel-body {
			padding: 0;

			> .nav-tabs > li:first-child > a {
				border-left: none;
			}

			> .tab-content {
				border-left: none;
				border-right: none;

				.infos-element {
					padding-left: extract-from-compact($table2d-cell-padding, left);
					padding-right: extract-from-compact($table2d-cell-padding, right);
				}

				.infos-actions .alert {
					display: inline-block;
				}
			}
		}

	}
}