
$table2d-cell-minwidth:					40px !default;
$table2d-cell-minheight:				$table2d-cell-minwidth !default;
$table2d-cell-maxwidth:					$table2d-cell-minwidth !default;
$table2d-cell-maxheight:				$table2d-cell-maxwidth !default;
$table2d-cell-padding:					$table-cell-padding !default;
$table2d-bg-axis:						darken($table-bg, 5%) !default;
$table2d-bg-axis-accent:				darken($table-bg, 2%) !default;

$tree-border:							1px solid $tc_but_border !default;
$tree-border-color-hover:				$tc_but_border !default;
$tree-border-radius:					0px !default;
$tree-padding-top:						10px !default;
$tree-padding-side:						2.5px !default;
$tree-sub-margin-left:					30px !default;

$timeline-line-color:					rgba(black, .25) !default;
$timeline-left:							5px !default;
$timeline-padding-left:					5px !default;
$timeline-padding-top:					5px !default;
$timeline-date-color:					$btn-default-color !default;

$resource-colors:						"default" $btn-default-bg,
										"primary" $brand-primary,
										"success" $brand-success,
										"info" $brand-info,
										"warning" $brand-warning,
										"danger" $brand-danger,
										"violet" #8e44ad,
										"orange" #d35400,
										"green" #27ae60,
										"turquoise" #16a085,
										"brown" #c09853 !default;

$player-size:							1.25em !default;
$date-width:							1.3em !default;
$mission-heading-right-width:			$player-size + $date-width + $line-height-base + 0.2em !default;