
//Other

.pagination > li:not(.active):not(.disabled) > a {
	@include btnColor($btn-default-bg);
}

.well {
	@include relief($well-bg, true);
}

.breadcrumb {
	@include relief;
}

.progress {
	@include relief;

	> .progress-bar {
		@include box-shadow(inset 0 1px rgba(255, 255, 255, 0.1));
	}
}

.jumbotron {
	@include relief;
}

.panel {
	@include relief($panel-bg, true);
	margin-bottom: $panel-margin-bottom;

	> .panel-heading {
		@include box-shadow(inset 0 1px rgba(255, 255, 255, 0.1));
	}
}

.modal-content {
	@include relief;
}

.pager li {
	&:not(.disabled) {
		> a, > span {
			@include btnColor($btn-default-bg);
		}
	}

	&.disabled {
		> a, > span {
			@include disabled;
		}
	}
}

.label, .alert {
	border-radius: 0;

	&-default {
		@include relief;
	}

	&-primary {
		@extend .relief-primary;
	}

	&-success {
		@include relief($brand-success);
	}

	&-warning {
		@include relief($brand-warning);
	}

	&-danger {
		@include relief($brand-danger);
	}

	&-info {
		@include relief($brand-info);
	}
}

.alert {
	.alert-link {
		color: darken($brand-primary, 15%);
	}
}

.collapsing {
	transition: none;
}