
$table2d-cell-width:			100px;
$table2d-cell-height:			$table2d-cell-width;

.table2d {
	position: relative;
	display: inline-block;
    max-width: 100%;
    max-height: 100%;
	height: 100%;

	&-top, &-left {
		position: absolute;
		overflow: hidden;
	}

	&-top {
		left: $table2d-cell-width;
		right: 0;
		top: 0;
		display: block;
		height: $table2d-cell-height;
		white-space: nowrap;
	}

	&-left {
		top: $table2d-cell-height;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: $table2d-cell-width;
		font-size: 0;
	}

	&-table {
		display: inline-block;
		margin-left: $table2d-cell-width;
		margin-top: $table2d-cell-height;
		right: 0;
		bottom: 0;
		width: calc(100% - #{$table2d-cell-width});
		height: calc(100% - #{$table2d-cell-height});
		overflow: auto;
	}

	.table2d-th, td, th {
		width: $table2d-cell-width;
		height: $table2d-cell-height;
		min-width: $table2d-cell-width;
		min-height: $table2d-cell-height;
		max-width: $table2d-cell-width;
		max-height: $table2d-cell-height;
		border: 1px solid white;
	}

	.table2d-th {
		display: inline-block;
		background: rgba(50, 0 ,0,0.25);
	}

}