

.table2d {

	$pad-top: extract-from-compact($table2d-cell-padding, top);
	$pad-bottom: extract-from-compact($table2d-cell-padding, bottom);
	$pad-left: extract-from-compact($table2d-cell-padding, left);
	$pad-right: extract-from-compact($table2d-cell-padding, right);

	position: relative;
	display: inline-block;
    max-width: 100%;
    max-height: 100%;
	height: 100%;
	background-color: $table-bg;

	&-top, &-left {
		position: absolute;
		overflow: hidden;
		background-color: $table2d-bg-axis;
		font-weight: 600;
	}

	&-top {
		left: $table2d-cell-minwidth;
		right: 0;
		top: 0;
		display: block;
		height: $table2d-cell-minheight + $pad-top + $pad-bottom;
		white-space: nowrap;

		> .table2d-th {
			height: 100%;
			min-height: 100%;
			max-height: 100%;

			/*			&:first-child {
							width: $table2d-cell-minwidth + 1;
							min-width: $table2d-cell-minwidth + 1;
						}*/

			+ .table2d-th {
				border-left: none;
			}
		}

	}

	&-left {
		top: $table2d-cell-minheight + $pad-top + $pad-bottom;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: $table2d-cell-minwidth;
		font-size: 0;

		/*		.table2d-th:first-child {
					height: $table2d-cell-minheight + $pad-top + $pad-bottom + 1;
					min-height: $table2d-cell-minheight + $pad-top + $pad-bottom + 1;
				}*/

		.table2d-th + .table2d-th {
			border-top: none;
		}
	}

	&-table {
		display: inline-block;
		margin-left: $table2d-cell-minwidth;
		margin-top: $table2d-cell-minheight + $pad-top + $pad-bottom;
		right: 0;
		bottom: 0;
		@if $table2d-cell-minwidth == auto {
			width: 100%;
		} @else {
			width: calc(100% - #{$table2d-cell-minwidth});
		}
		@if $table2d-cell-minheight == auto {
			height: 100%;
		} @else {
			height: calc(100% - #{$table2d-cell-minheight + $pad-top + $pad-bottom});
		}
		overflow: auto;

		tr:first-child td {
			border-top: none;
		}

		tr td:first-child {
			border-left: none;
		}
	}

	.table2d-th, td, th {
		width: $table2d-cell-minwidth;
		height: $table2d-cell-minheight + $pad-top + $pad-bottom;
		min-width: $table2d-cell-minwidth;
		min-height: $table2d-cell-minheight + $pad-top + $pad-bottom;
		max-width: $table2d-cell-maxwidth;
		max-height: $table2d-cell-maxheight + $pad-top + $pad-bottom;
		/*border: 1px solid white;*/
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		font-size: 1rem;
	}

	td, th, .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
		padding: $table2d-cell-padding;
	}

	.table2d-th {
		display: inline-block;
		padding-top: $pad-top;
		padding-bottom: $pad-bottom;
		line-height: $table2d-cell-minheight;
	}

	/*	.table + .table2d-top > .table2d-th, .table + .table2d-top + .table2d-left > .table2d-th {
	
			padding: $table-cell-padding;
		}*/

}

.table2d-stripped {

	.table2d-top, .table2d-left {
		> .table2d-th:nth-of-type(even) {
			background-color: $table2d-bg-axis-accent;
		}
	}

	.table2d-table > tbody > tr {

		&:nth-of-type(odd) > td:nth-of-type(odd) {
			background-color: $table-bg-accent;
		}

		&:nth-of-type(even) > td:nth-of-type(even) {
			background-color: $table-bg-accent;
		}
	}

}