

.timeline {

	> .timeline-item {
		display: block;
		padding-bottom: $timeline-padding-top;
		@extend .notification;

		&:not(.timeline-item-out) {
			margin-left: $timeline-left;
			padding-left: $timeline-padding-left;
			border-left: 1px solid $timeline-line-color;
		}

		&:first-child {
			padding-top: $timeline-padding-top;
		}
	}

	> .timeline-date {
		display: inline-block;
		min-width: $timeline-left * 2;
		color: $timeline-date-color;
		background: $timeline-line-color;
		padding-left: 5px;
		padding-right: 5px;

		& + .timeline-item {
			padding-top: $timeline-padding-top;
		}
	}

}